<DOCTYPE html>
	<html ng-app="fantasyApp">
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<title>Fantasy App</title>
				</head>
				<header ng-controller="myCtrl">
					<h1>{{test}}</h1>
					<hr>
				</header>
				<body>
					<div class="main-container">
						<div ng-repeat='player in players'>
							{{player.player_name}}
						</div>
						<div class="input-bar">
							<input ng-model="textarea" type="Find Player">Input Player Name Here</input>
						</div>
						
							<div class="box1"></div>
							<div class="box2"></div>
							<div class="box3"></div>

					</div>
				<script type="text/javascript" src="app.min.js"></script>	
				<script type="text/javascript" src="public/js/app.js"></script>
				<script type="text/javascript" src="public/js/myCtrl.js"></script>
				<script type="text/javascript" src="public/js/myService.js"></script>
				</body>
	</html>