<DOCTYPE html>
	<html ng-app="fantasyApp">
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<title>Fantasy App</title>
		</head>
		<body ng-controller="myCtrl">
			<h1>{{test}}</h1>
			<hr>
				<div class="input-bar">
					<input ng-model="textarea" type="Find Player">
						<button ng-click="getPlayers()">Search</button>
					</input>
				</div>
				<div ng-repeat='player in playerList'>
					<ul>
						<li>{{player.player_name.text}}</li>

					</ul>
				</div>
			</div>
		<script type="text/javascript" src="app.min.js"></script>	
		<script type="text/javascript" src="public/js/app.js"></script>
		<script type="text/javascript" src="public/js/myCtrl.js"></script>
		<script type="text/javascript" src="public/js/myService.js"></script>
		</body>
	</html>